<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Thyme Seed Starter Manager</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="./webjars/bootstrap/3.3.6/css/bootstrap.css" type='text/css'
        media='all'/>
  <link rel="stylesheet" href="/css/style.css" type='text/css' media='all'/>
</head>
<body>

<h1>Theatre met Spring en Thymeleaf</h1>

<h1>appearances</h1>
<hr/>
<div th:each="appearance : ${appearances}">
  <div
      th:replace="@{'appearances/' + ${appearance.appearance}} :: ${appearance.appearance}(${appearance})"/>
</div>


</body>
</html>